body {
    margin: 0;
    max-width: 1600px;
}

/* Header container */

.header {
    background-color: #1f2937;
    padding: 30px 150px 80px 150px; /* top right bottom left */
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

    .left-group {
        gap: 25px;
        margin-right: auto;
        margin-top: 20px;
        display: flex;
    }

    .right-group {
        gap: 25px;
        margin-left: auto;
        margin-top: 20px;
        display: flex;
    }

    .link-one, .link-two, .link-three {
        color: #e5e7eb; 
        font-family: 'Arial';
        font-size: 18px;

    }

    .logo {
        color: #f9faf8;
        font-family: 'Arial';
        font-size: 24px;
        font-weight: bold;
    }

/* Main hero container that has left and right blocks */

.awesome-container {
    background-color: #1f2937;
    padding: 20px;
    display: flex;
    height: auto;
    min-height: 500px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 40px;
}
    /* Left block */

    .hero-container {
        background-color: #1f2937;
        display:block;
        max-height: 350px;
        height: 300px;
        width: 500px;
        flex-wrap: wrap;
    }

        /* Inside the left block */

        .hero {
            color: #f9faf8;
            font-family: 'Arial';
            font-size: 48px;
            font-weight: 900;
            flex-wrap: wrap;
        }

        .hero-subtext {
            color: #e5e7eb;
            font-family: 'Arial';
            font-size: 18px;
            flex-wrap: wrap;
            margin: top 30px;
        }

        .hero-button {
            background-color: #3882f6;
            color: #f9faf8;
            font-family: 'Arial';
            font-size: 18px;
            padding: 10px 20px;
            border-radius: 8px;
            margin-top: 20px;
            text-decoration: none;
            width: 100px;
            text-align: center;
            cursor: pointer;
        }

    /* Right block */

    .hero-image {
        display: flex;
        align-items: top;
        justify-content: center;
        height: 300px;
        width: auto;
        flex-shrink: 0;
    }

        .hero-image img {
            height: 250px;
            width: auto;
            object-fit: contain;
        }

/* Photo gallery container */

.gallery-container {
    background-color: #f9faf8;
    display: block;
    height: auto;
    min-height: 500px;
    width: 100vw;
}

    .gallery-title {
        color: #1f2937;
        font-family: 'Arial';
        font-size: 36px;
        font-weight: 900;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
}
    /* Gallery side-by-side images and subtext container */

    .gallery {
        display: flex;
        padding: 40px;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        gap: 40px;
        flex-wrap: wrap;
    }

        /* Image and subtext container in column form */

        .gallery-image {
            display: block;
            align-items: center;
            justify-content: center;
            gap: 20px;
            flex-wrap: block;
        }

            /* Actual image box */

            .gallery-image img {
                height: 200px;
                width: 200px;
                justify-content: center;
                object-fit: contain;
                border-width: 3px;
                border-color: #3882f6;
                border-style: solid;
                border-radius: 10px;
            }

            /* Subtext under image */

            .gallery-image p {
                color: #1f2937;
                font-family: 'Arial';
                text-align: center;
                font-size: 14px;
                width: 200px;
                flex-wrap: wrap;
            }

/* Quote container */

.quote-container {
    background-color: #e5e7eb;
    align-items: center;
    display: block;
    width: 100vw;
    max-height: 600px;
    padding: 150px;
    flex-wrap: wrap;
}

    .quote {
        color: #1f2937;
        font-family: 'Arial';
        font-size: 36px;
        font-style: italic;
        align-items: center;
        justify-content: left;
        margin-bottom: 40px;
    }

    .thor {
        color:#1f2937;
        font-family: 'Arial';
        font-size: 20px;
        font-style: 900;
        display: flex;
        align-items: center;
        justify-content: right;
    }

/* CTA container */

.cta-container {
    background-color: #f9faf8;
    align-items: center;
    justify-items: center;  
    width: 100%;
    max-height: 200px;
    padding: 150px;
}

    .cta-blue-box {
        display: flex;
        background-color: #3882f6;
        color: #f9faf8;
        font-family: 'Arial';
        font-size: 24px;
        padding: 40px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
    }

        /* Left text inside blue box */

        .cta-text {
            display: block;
            gap: 20px;
        }

            .cta-title {
                font-weight: 900;
                font-size: 20px;
            }

            .cta-subtext {
                font-size: 15px;
            }

        /* Right button inside blue box */

        .cta-button {
            background-color: #3882f6;
            font-family: 'Arial';
            font-size: 18px;
            color: #f9faf8;
            border-width: 3px;
            border-color: #f9faf8;
            border-style: solid;
            border-radius: 8px;
            padding: 10px 30px;     /* Top and bottom padding, left and right padding */
            text-decoration: none;
            width: 100px;
            text-align: center;
            justify-content: center;
            cursor: pointer;
        }


/* Footer container */

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 30px 150px 80px 150px; /* top right bottom left */
    box-sizing: border-box;
}

    .footer-text {
        font-family: 'Arial';
        font-size: 19px;
        color: #f9faf8;
    }